@media screen and ( max-width: 1240px  )
  .nav 
    &__item
      margin-right: 1rem
@media screen and ( max-width: 1200px )
  .nav 
    &__item 
      margin-right: 1rem
  html 
    font-size: 12px
@media screen and ( max-width: 992px  )
  .footer 
    &-wrap
      margin: auto
    &__menu
      display: none
  .nav 
    display: none
  .hero 
    &__instagram 
      display: none
    &__content 
      margin-left: 0
@media screen and ( max-width: 920px  )
  .customers
    display: none 
  .team 
    &__card
      margin-top: 100px
  .swiper
    &-pagination
      margin-left: 30px
      margin-bottom: 2px
    &-button 
      &-prev 
        margin-left: 30px
      &-next 
        margin-left: 30px
    &__mobile 
      width: 100%
      &__image 
        margin-top: 2.85rem
    &-slide
      &__heading
        font-size: 1rem
  .section
    &__none 
      display: none
    &-title
      &__text
        font-size: 1rem
        line-height: 158.48%
        max-width: 305px
      &__word
        &::after 
          display: none
  .row 
    flex-direction: column
    align-items: center
  .types
    &__section-text
      color: $light
    &-design
      background-color: $dark
      &__heading
        color: $light
        padding-top: 2rem
    &__card
      margin-bottom: 5rem
  .card 
    &__text
      margin-left: 0
  .design 
    background-color: $dark
    &__section-title
      color: $light
    &__card 
      margin-bottom: 5.7rem
@media screen and ( max-width: 790px )
  .modal
    width: 506px
    height: 509px
    &__dialog
      padding: 2.357rem 3.5rem 1.982rem 1rem
    &__button
      width: 100%
      align-self: start
@media screen and ( max-width: 670px )
  .control
    &__button
      order: 1
      margin: auto
      margin-top: 20px
    &__input
      &-group
        flex-basis: 90%
        margin-left: 1.28rem
        &-name
          margin-bottom: 4.5rem
@media screen and ( max-width: 570px )
  .team
    background-color: $dark
    &__card
      margin-top: 150px
    &-text 
      color: $light
    &-bl 
      padding-top: 100px
    &__icon
      top: -63px
      &-bl
        top: 30px
  .footer
    background: $black
    &__info
      &__info
        order: 1
        &__description
          font-size: 1.285rem
          line-height: 1.785rem
    &__form
      width: 100%
      display: block
    &-wrap
      margin: auto
    &__policy 
      margin-bottom: 4.78rem
    &__button
      width: 100%
  .control
    &__video
      max-width: 400px
      min-height: 250px
    &__text
      max-width: 400px
      font-size: 1rem
      line-height: 169.8%
  .contacts
    &__phone 
      margin-right: 0
      color: $light
      text-decoration: none
    &__button 
      display: none
  .title
    font-size: 1.64rem
  .hero 
    &__scroll-down
      display: none
    &__content
      max-width: 22.86rem
    &__text 
      font-size: 1.29rem
      margin-bottom: 2.28rem
    &__button 
      display: block
      min-width: 22.86rem
      margin-bottom: 1.85rem
@media screen and ( max-height: 530px )
  .hero 
    &__scroll-down
      display: none
@media screen and ( max-width: 480px )
  .control
    background-color: $dark
    &__text
      color: $light
      max-width: 340px
    &__policy
      flex-basis: auto
      margin-bottom: 2rem
      margin-left: 1.28rem
      &-label
        color: $light
    &__button 
      order: 1
      width: 90%
      margin: auto
      font-size: 1.07rem
      line-height: 1.857rem
      font-family: 'Futura DemiC', sans-serif
      margin-bottom: -7rem
    &__label
      color: rgba($light, 0.5)
    &__input
      border-bottom: 1px solid $light
      &::placeholder 
        color: $light
  .modal 
    width: 90%
@media screen and ( max-width: 390px )
  .control
    &__video
      max-width: 340px
      min-height: 207px
  